
body{
    background-color: rgba(245, 245, 245, 0.555);
    margin: 50px;

}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: darkslategrey;
    
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: darkslategrey;
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: darkslategrey;
}
h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: darkslategray;
    background: rgba(169, 169, 169, 0.514);
    border: darkslategray 2px solid;
}
.central{
    text-align: justify;
    font-size: medium;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
#imageminicial{
    align-items: center;
}
#segundaimagem{
    width: 970px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#terceiraimagem{
    width: 970px;
    height: 500PX;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#quartaimagem{
    width: 970px;
    height: 500px;
    display: flex;   
    align-items: center;
    justify-self: center;
}
#frase{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lime;
    color: maroon;
    text-align: center;
    border: 2px maroon solid;
}
#quinto{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: rgb(83, 177, 180);
    border: 2px black solid;
}
#espaço{
    margin-bottom: 39px;
}



